---
import Layout from '@layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

const items: CollectionEntry<'newsEvents'>[] = await getCollection('newsEvents');
const sortedItems = items.sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA; // Sort descending by date
});

// Pagination logic
const ITEMS_PER_PAGE = 10; 
const currentPage = Number(1); // Always page 1 for `index.astro`
const totalPages = Math.ceil(sortedItems.length / ITEMS_PER_PAGE);
const paginatedItems = sortedItems.slice(0, ITEMS_PER_PAGE); // Items for the first page

const pageData = {
	title: "Yin Yang House Twin Cities News and Events",
	date: "",
	slug: "news-events",
	author: "",
	coverimage: "", 
	coveralt: "",
	parent: "",
	description: "News and events related to the acupuncture and wellness services offered at Yin Yang House Twin Cities.",
	ogImage: "",
	keywords: ["acupuncture news", "minneapolis wellness news", "minneapolis events", "st paul wellness new", "st paul events", "twin cities wellness news", "twin cities events"],
	socialTitle: "",
	socialDescription: "",
	layout: "",
}
---
<Layout fullWidth={false} thisPage={pageData} isArticle={true} isProduct={false}>
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 space-y-6 bg-white dark:bg-gray-800 shadow-md rounded-b-lg p-6">
        <h1 class="text-3xl font-bold">Twin Cities Center News and Events</h1>
        <ul class="space-y-2">
            {paginatedItems.map(i => (
                <li class="list-disc ml-5"> 
                    <a href={`/news-events/${i.data.slug}`}>{i.data.title}</a> (Published: {new Date(i.data.date).toDateString()})
                </li>
            ))}
        </ul>
<!-- Pagination Controls -->
<div class="flex justify-between mt-6">
    {currentPage > 1 && (
      <a href={`/${currentPage === 2 ? 'news-events' : `news-events/${currentPage - 1}`}`} class="px-4 py-2 rounded-md bg-[#a48c3c] text-white hover:bg-[#b59d4d] dark:bg-[#8a712b] dark:hover:bg-[#9b823c] transition shadow-sm">
        ← Previous
      </a>
    )}
  
    {currentPage < totalPages && (
      <a href={`/news-events/${currentPage + 1}`} class="px-4 py-2 rounded-md bg-[#a48c3c] text-white hover:bg-[#b59d4d] dark:bg-[#8a712b] dark:hover:bg-[#9b823c] transition shadow-sm ml-auto">
        Next →
      </a>
    )}
  </div>
      </div>
</Layout>