---
import '@styles';
import yyhLogo from '@assets/yinyanghouse-clinic-mn-logo-300.webp';
const { thisPage = {}, fullWidth = false, isArticle = false, isProduct = false } = Astro.props;
const visibleBreadcrumb = isArticle || isProduct;
// fullwidth is used for schedule page
// isArticle is used to show/expand breadcrumbs, etc.
// isProduct is used to for store specific settings
/* this page
const pageData = {
	title: "",
	date: "",
	slug: "",
	author: "",
	coverimage: "", 
	coveralt: "",
	parent: "",
	description: "",
	ogImage: "",
	keywords: [],
	socialTitle: "",
	socialDescription: "",
	layout: "",
}
*/

// Define navigation items as a reusable constant
const navItems = [
    { href: '/#aboutus', label: 'About' },
    { href: '/#services', label: 'Services' },
    { href: '/news-events/', label: 'News / Events' },
    { href: '/#contactus', label: 'Contact'},
];

const navMobileItems = [
    { href: '/#aboutus', label: 'About' },
    { href: '/#services', label: 'Services' },
    { href: '/news-events/', label: 'News / Events' },
    { href: '/#contactus', label: 'Contact'},
];

//    { href: '/appointments', label: 'Appointments' },

// SEO Handling
const siteUrl = Astro.site || 'https://tc.yinyanghouse.com';
const thisTitle = thisPage.title || 'Yin Yang House Twin Cities - Acupuncture and Wellness Center';
const thisDescription = thisPage.description || 'Yin Yang House Twin Cities has been offering acupuncture and related services since 1999 through it various clinics and educational outreaches.';
const thisImage = thisPage.image || new URL('/images/yinyanghouse-clinic-mn-log-300.png', siteUrl).toString();
const thisKeywords = thisPage.keywords || 'acupuncture, massage, wellness, twin cities, minneapolis, st paul, qigong, tai chi, meditation, herbal medicine, healing, holistic health, alternative medicine';
const thisType = isArticle ? "Article" : (isProduct ? "Product" : "WebPage");


// BreadCrumb and Rich Text Schema Setup
const breadcrumbData = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://tc.yinyanghouse.com/"
    }
  ]
};

if (thisPage.parent) {
  breadcrumbData.itemListElement.push({
    "@type": "ListItem",
    "position": 2,
    "name": thisPage.parent.replace('-', ' '),
    "item": `https://tc.yinyanghouse.com/${thisPage.parent}`
  });
}

if (thisPage.slug) {
    breadcrumbData.itemListElement.push({
        "@type": "ListItem",
        "position": breadcrumbData.itemListElement.length + 1,
        "name": thisPage.title,
        "item": `https://tc.yinyanghouse.com/${thisPage.parent ?? `${thisPage.parent}/`}${thisPage.slug}`
    });
}

const jsonLdFull = {
  "@context": "https://schema.org",
  "@graph": [
    breadcrumbData,
    {
      "@type": thisType,
      "@id": Astro.url.href,
      "url": Astro.url.href,
      "name": thisTitle,
      "description": thisDescription,
      "image": thisImage,
      "author": {
        "@type": "Person",
        "name": thisPage.author || 'Yin Yang House Twin Cities',
        "url": Astro.site + "#aboutus"
      },
      "datePublished": thisPage.date || "2025-04-24",
      "headline": thisTitle,
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": Astro.url.href
      }
    }
  ]
};
---

<!doctype html>
<html
    lang="en"
    x-data="{
        darkMode: localStorage.getItem('darkMode') !== null
            ? JSON.parse(localStorage.getItem('darkMode'))
            : window.matchMedia('(prefers-color-scheme: dark)').matches,
        mobileMenuOpen: false,
        toggleDarkMode() {
            this.darkMode = !this.darkMode;
            localStorage.setItem('darkMode', this.darkMode);
            document.documentElement.classList.toggle('dark', this.darkMode);
        }
    }"
    x-init="document.documentElement.classList.toggle('dark', darkMode)"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        
        <!-- Primary Meta Tags -->
        <title>{thisTitle}</title>
        <meta name="title" content={thisTitle} />
        <meta name="description" content={thisDescription} />
        <meta name="keywords" content={typeof thisKeywords === 'string' ? thisKeywords : Array.isArray(thisKeywords) ? thisKeywords.join(', ') : ''} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content={isArticle ? 'article' : 'website'} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={thisPage.socialTitle || thisTitle} />
        <meta property="og:description" content={thisPage.socialDescription || thisDescription} />
        <meta property="og:image" content={thisImage} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={thisPage.socialTitle || thisTitle} />
        <meta property="twitter:description" content={thisPage.socialDescription || thisDescription} />
        <meta property="twitter:image" content={thisImage} />

        <!-- if - add article metadata -->
        {isArticle && (
            <>
                <meta property="article:published_time" content={thisPage.date} />
                <meta property="article:author" content={thisPage.author || 'Yin Yang House Twin Cities'} />
            </>
        )}

        <meta name="robots" content="index, follow">
        {jsonLdFull && (
            <script 
                type="application/ld+json"
                set:html={JSON.stringify(jsonLdFull)} 
            />
            )
        }

    </head>
    <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
        <header class="fixed top-0 left-0 w-full bg-[#8a712b] dark:bg-[#8a712b] shadow-md z-50">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
                <!-- Logo -->
				<a href="/" class="flex items-center space-x-2">
					<div
						class="p-2 rounded-full bg-white dark:bg-gray-700"
					>
						<img
							src={yyhLogo.src}
							alt="Yin Yang House Logo"
							class="h-8 w-auto"
						/>
					</div>
					<span class="text-xl font-bold text-white"></span>
				</a>
				
				
				<!-- Navigation Links -->
                <nav class="hidden md:flex space-x-4">
                    {navItems.map(item => (
                        <a href={item.href} class="px-4 py-2 rounded-md bg-[#a48c3c] text-white hover:bg-[#b59d4d] dark:bg-[#8a712b] dark:hover:bg-[#9b823c] transition shadow-sm">
                            {item.label}
                        </a>
                    ))}
                </nav>
                <!-- Always visible Schedule (Appointments) Button on Header -->
                <div class="md:block">
                    <!-- <a href="/#schedule" class="px-4 py-2 rounded-md bg-[#a48c3c] text-white hover:bg-[#b59d4d] dark:bg-[#8a712b] dark:hover:bg-[#9b823c] transition shadow-sm"> -->
                    <a 
                    href="/appointments" 
                    class="px-4 py-2 rounded-md bg-[#7BBF67] text-white hover:bg-[#679F5A] dark:bg-[#66BB6A] dark:hover:bg-[#5CAC5F] transition shadow-sm">
                    Appointments
                  </a>
                                                                      </div>
                <!-- Dark Mode and Mobile Menu Toggle -->
                <div class="flex items-center space-x-4">
                    <!-- Dark Mode Toggle -->
                    <button
                        @click="toggleDarkMode"
                        class="relative w-10 h-10 rounded-full bg-[#a48c3c] flex items-center justify-center cursor-pointer"
                        aria-label="Toggle Dark Mode"
                    >
                        <div
                            class="w-6 h-6 rounded-full bg-white dark:bg-gray-700 transition-colors"
                        ></div>
                    </button>

                    <!-- Mobile Menu Toggle -->
                    <button
                        @click="mobileMenuOpen = !mobileMenuOpen"
                        class="relative w-10 h-10 rounded-full bg-[#a48c3c] flex items-center justify-center cursor-pointer md:hidden"
                        aria-label="Toggle Mobile Menu"
                    >
                        <div class="relative w-6 h-6">
                            <span
                                class="absolute top-0 left-0 w-6 h-0.5 bg-white transition-transform transform"
                                :class="mobileMenuOpen ? 'rotate-45 translate-y-2.5' : ''"
                            ></span>
                            <span
                                class="absolute top-2.5 left-0 w-6 h-0.5 bg-white transition-opacity"
                                :class="mobileMenuOpen ? 'opacity-0' : ''"
                            ></span>
                            <span
                                class="absolute top-5 left-0 w-6 h-0.5 bg-white transition-transform transform"
                                :class="mobileMenuOpen ? '-rotate-45 -translate-y-2.5' : ''"
                            ></span>
                        </div>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu -->
            <div
                x-show="mobileMenuOpen"
                class="md:hidden bg-[#8a712b] dark:bg-[#8a712b] text-white"
                @click.away="mobileMenuOpen = false"
            >
                {navMobileItems.map(item => (
                    <a href={item.href} class="block px-4 py-2 hover:bg-[#9fcf67] dark:hover:bg-[#9fcf67]" @click="mobileMenuOpen = false">
                        {item.label}
                    </a>
                ))}
            </div>
        </header>

        <!-- Main Content -->
        <main class={`${fullWidth ? 'mt-0' : 'pt-20'}`}>
{visibleBreadcrumb && (
  <div class="prose dark:prose-invert max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 space-y-6 bg-white dark:bg-gray-800 shadow-md rounded-t-lg p-6">
    <nav class="flex items-center flex-wrap space-x-2 py-4 px-4 bg-gray-100 dark:bg-gray-800" typeof="BreadcrumbList" vocab="https://schema.org/">
      <!-- Logo -->
      <a href="/" class="breadcrumb-link flex items-center space-x-2" property="item" typeof="WebPage" id="logo">
        <img src={yyhLogo.src} alt="Yin Yang House Logo" class="h-6 w-auto" />
        <span class="text-gray-800 dark:text-gray-100 font-bold">Clinic</span>
      </a>


      <!-- Parent Page -->
      {thisPage.parent && (
          <span class="text-gray-600 dark:text-gray-400">→</span>
          <a href={`/${thisPage.parent}/`} class="breadcrumb-link text-gray-800 dark:text-gray-100 font-bold hover:underline" property="item" typeof="WebPage">
          {thisPage.parent.replace('-', ' ')}
        </a>
      )}

      <!-- Optional Title -->
      {thisTitle && (
        <>
          <span class="text-gray-600 dark:text-gray-400">→</span>
          <span class="breadcrumb-link text-gray-800 dark:text-gray-100 font-bold" property="name">{thisTitle}</span>
        </>
      )}
    </nav>
  </div>
)}
            <slot />
        </main>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
